//sizes
@LAYOUT_WIDTH: 1000px; 
@PAGE_WIDTH: 940px;
@CONTENT_WIDTH: 620px;
@SIDEBAR_WIDTH: 300px;
@FOOTER_HEIGHT: 130px;

//fonts
@BASE_FONT: 14px Arial, Helvatica, 'Nimbus Sans L', sans-serif;

//colors
@COLOR_LIGHT_GRAY: #f8f8f8;
@COLOR_GRAY: #ececec;