//sizes
@LAYOUT_WIDTH: 1000px; 
@PAGE_WIDTH: 940px;
@CONTENT_WIDTH: 620px;
@SIDEBAR_WIDTH: 300px;
@FOOTER_HEIGHT: 130px;
@BOX_CORNERS_RADIUS: 5px;
@AVATAR_BIG_SIZE: 60px;
@AVATAR_NORMAL_SIZE: 27px;

//fonts
@BASE_FONT_SIZE: 14px;
@BASE_FONT_NAME:  Arial, Helvetica, 'Nimbus Sans L', sans-serif;
@HEADER_FONT_NAME:  'Trebuchet MS', Helvetica, Garuda, sans-serif;
@NOTES_FONT_NAME: Gerorgia, 'Century Schollbook L', serif;

//colors
@COLOR_CONTENT: #757575;
@COLOR_LINK: #068ed1;
@COLOR_HEADER: #232323;
@COLOR_BOX_BACKGROUND: #f8f8f8;
@COLOR_BOX_BORDER: #ececec;
@COLOR_MENU: #373737;
@COLOR_MENU_HOVER: #dc4742;
@COLOR_MORE_BUTTON_BACKGROUND: #e1e0e0;
@COLOR_MORE_BUTTON_BORDER: #cacaca;
@COLOR_ADDITIONAL_INFO: #9bd020;