.centeredBlock(@width) {
	margin: 0 auto;
	width: @width;
}

.vLinearGradient(@point, @colorFrom, @colorTo) {
	background-image: -webkit-gradient(linear, left top, left bottom, from(@colorFrom), to(@colorTo));
	background-image: -webkit-linear-gradient(@point, @colorFrom, @colorTo);
	background-image: -moz-linear-gradient(@point, @colorFrom, @colorTo);
	background-image: -o-linear-gradient(@point, @colorFrom, @colorTo);
	background-image: -ms-linear-gradient(@point, @colorFrom, @colorTo);
	background-image: linear-gradient(@point, @colorFrom, @colorTo);
	background-color: @colorTo;
}

.borderRadius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.insetBoxShadow(@offsetX, @offsetY, @color: #000, @blur: 0, @size: 1px) {
	-webkit-box-shadow: inset @offsetX @offsetY @blur @size @color;
	-moz-box-shadow: inset @offsetX @offsetY @blur @size @color;
	box-shadow: inset @offsetX @offsetY @blur @size @color;
}

.boxShadow(@color, @offsetX: 0, @offsetY: 0, @blur: 5px, @spread: 0) {
	-webkit-box-shadow: @offsetX @offsetY @blur @spread @color;
	-moz-box-shadow: @offsetX @offsetY @blur @spread @color;
	box-shadow: @offsetX @offsetY @blur @spread @color;
}

.topShadowedBackground(@backgroundColor, @size: 20%, @spread: 50%) {
	@shadowColor: darken(@backgroundColor, @spread);

	background-image: -webkit-linear-gradient(top, @shadowColor 0, @backgroundColor @size, @backgroundColor 100%);
	background-image: -moz-linear-gradient(top, @shadowColor 0, @backgroundColor @size, @backgroundColor 100%);
	background-image: -o-linear-gradient(top, @shadowColor 0, @shadowColor @size, @backgroundColor 100%);
	background-image: -ms-linear-gradient(top, @shadowColor 0, @shadowColor @size, @backgroundColor 100%);
	background-image: linear-gradient(top, @shadowColor 0, @shadowColor @size, @backgroundColor 100%);
	background-color: @backgroundColor;
}

.topSolidShadowedBackground(@backgroundColor, @size: 20%, @spread: 50%) {
	@shadowColor: darken(@backgroundColor, @spread);

	background-image: -webkit-linear-gradient(top, @shadowColor 0, @shadowColor @size, @backgroundColor @size, @backgroundColor 100%);
	background-image: -moz-linear-gradient(top, @shadowColor 0, @shadowColor @size, @backgroundColor @size, @backgroundColor 100%);
	background-image: -o-linear-gradient(top, @shadowColor 0, @shadowColor @size, @backgroundColor @size, @backgroundColor 100%);
	background-image: -ms-linear-gradient(top, @shadowColor 0, @shadowColor @size, @backgroundColor @size, @backgroundColor 100%);
	background-image: linear-gradient(top, @shadowColor 0, @shadowColor @size, @backgroundColor @size, @backgroundColor 100%);
	background-color: @backgroundColor;
}

.circle(@color, @radius, @borderSize: 0) {
	@size: @radius*2;
	@calcRadius: @radius + @borderSize;
	
	width: @size;
	height: @size;
	background-color: @color;
	-webkit-border-radius: @calcRadius;
	-moz-border-radius: @calcRadius;
	border-radius: @calcRadius;
}

.triangleDown(@color, @size, @ratio: 2) {
	width: 0;
	height: 0;
	border-left: @size/@ratio solid transparent;
	border-right: @size/@ratio solid transparent;
	border-top: @size solid @color;
}