@import "const";
@import "functions";

@darkenBorderColor: darken(@COLOR_BOX_BORDER, 25%);

.clear {
	clear: both;
}

body {
	font: @BASE_FONT_SIZE @BASE_FONT_NAME;
	line-height: 1.2em;
	color: @COLOR_CONTENT;
}

a {
	color: @COLOR_LINK;
}

a img {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @HEADER_FONT_NAME;
	color: @COLOR_HEADER;
	font-weight: bold;	
}

h1 {
	font-size: @BASE_FONT_SIZE + 4;
	text-transform: uppercase;
}

h2 {
	font-size: @BASE_FONT_SIZE + 2;
	margin: 1em 0;
}

h3 {
	font-size: @BASE_FONT_SIZE;
	margin: 1em 0;
}

h4 {
	font-size: @BASE_FONT_SIZE - 2;
	margin: 1.25em 0;
}

h5 {
	font-size: @BASE_FONT_SIZE - 3;
	margin: 1.4em 0;
}

h6 {
	font-size: @BASE_FONT_SIZE - 4;
	margin: 1.5em 0;
}

p {
	margin: 1em 0;
}

.ico {
	display: inline-block;
	vertical-align: middle;
}

.ico.left{
	margin-right: 5px;
}

.ico.right{
	margin-left: 5px;
}

figure.user {
	display: inline-block;

	img, figcaption {
		display: inline-block;
		vertical-align: middle;
	}
	
	img {
		margin-right: 7px;
	}
	
	figcaption {
		.name, .description {
			display: block;
		}
		
		.name {
			font-weight: bold;
			margin-bottom: .25em;			
		}
		
		.description {
			font-style: italic;
			font-size: .85em;
			font-family: @NOTES_FONT_NAME;
		}
		
		a {
			text-decoration: none;
		}
	}
	
	&.avatar {
		&.big {
			img {
				width: @AVATAR_BIG_SIZE;
				height: @AVATAR_BIG_SIZE;
				background: white;
				padding: 3px;
				border: 1px solid @COLOR_BOX_BORDER;
				.boxShadow(desaturate(@COLOR_BOX_BORDER, 100%));
			}
			
			figcaption {
				.name, .name a {
					text-transform: uppercase;
					color: @COLOR_HEADER;
					
					&:hover {
						color: @COLOR_MENU_HOVER;
					}
				}
			}
		}
		
		&.normal {
			img {
				width: @AVATAR_NORMAL_SIZE;
				height: @AVATAR_NORMAL_SIZE;
				padding: 1px;
				border: 1px solid darken(@COLOR_BOX_BORDER, 50%);
			}
		}
	}
}

.more {
	display: inline-block;
	text-decoration: none;
	color: @COLOR_CONTENT;
	vertical-align: middle;
	font-weight: normal;
	font-style: normal;
	font-family: @BASE_FONT_NAME;
	
	&.small {
		background: url(../i/design/bg/common/more/small/bg.png) no-repeat center;
		border: 2px solid white;
		font-size: @BASE_FONT_SIZE - 4;
		.circle(@COLOR_MORE_BUTTON_BACKGROUND, 10px, 2px);
		.boxShadow(@COLOR_BOX_BORDER, 0, 0, 0, 1px);		
		
		&:hover {
			background-color: darken(@COLOR_MORE_BUTTON_BACKGROUND, 10%);
			.boxShadow(darken(@COLOR_BOX_BORDER, 10%), 0, 0, 0, 1px);
		}
	}
	
	&.normal {
		background: @COLOR_MORE_BUTTON_BACKGROUND;
		font-size: @BASE_FONT_SIZE - 4;
		text-transform: uppercase;	
		padding: 1px 5px;
		border: 2px solid @COLOR_MORE_BUTTON_BORDER;
		.borderRadius(12px);

		&:hover {
			background-color: darken(@COLOR_MORE_BUTTON_BACKGROUND, 10%);
			border-color: darken(@COLOR_MORE_BUTTON_BORDER, 10%);
			color: white;
		}
	}
	
	&.big {
		@linkHeight: @BASE_FONT_SIZE * 2.2;
		@border: 3px;
		@moreArrowRadius: @BASE_FONT_SIZE - 4;
		@buttonPadding: @BASE_FONT_SIZE * 1.7;
	
		position: relative;
		height: @linkHeight;
		line-height: @linkHeight;
		padding: 0 @buttonPadding+@moreArrowRadius*2 0 @buttonPadding;
		border: @border solid @COLOR_MORE_BUTTON_BORDER;
		text-shadow: 0 1px white;
		.insetBoxShadow(0, 2px, white);
		.vLinearGradient(lighten(@COLOR_MORE_BUTTON_BACKGROUND, 10%), darken(@COLOR_MORE_BUTTON_BACKGROUND, 5%));
		.borderRadius(@linkHeight/2 + @border);
		
		&:after {
			content: "";
			position: absolute;
			top: @linkHeight/2 - @moreArrowRadius;
			right: @moreArrowRadius;
			background: url(../i/design/bg/common/more/small/bg.png) no-repeat center;
			.circle(@COLOR_MORE_BUTTON_BORDER, @moreArrowRadius);
			.insetBoxShadow(darken(@COLOR_MORE_BUTTON_BORDER, 20%), 1px, 1px, 1px);
		}
		
		&:before {
			content: "";
			position: absolute;
			width: 2px;
			height: @linkHeight;
			border-style: solid;
			border-width: 1px;
			border-left-color: @COLOR_MORE_BUTTON_BORDER;
			border-right-color: white;
			border-top: none;
			border-bottom: none;
			right: @moreArrowRadius*3.5;
			opacity: .8;
		}
		
		&:hover {
			.vLinearGradient(lighten(@COLOR_MORE_BUTTON_BACKGROUND, 8%), darken(@COLOR_MORE_BUTTON_BACKGROUND, 7%));
		.borderRadius(@linkHeight/2 + @border);
		}
		
		&:active {
			background: @COLOR_MORE_BUTTON_BACKGROUND;
			.insetBoxShadow(lighten(@COLOR_MORE_BUTTON_BORDER, 5%), 0, 2px, 1px);
		}
	}
}

.pagination {	
	padding: @BASE_FONT_SIZE - 4;
	text-align: center;
	font-size: @BASE_FONT_SIZE - 2;
	font-weight: bold;
	
	ul {
		@pageHeight: @BASE_FONT_SIZE*2;
		
		list-style: none;
		display: inline-block;
		
		li {
			float: left;
			margin-right: 5px;
			
			.page, .skip {
				display: inline-block;
				min-width: @pageHeight - 10;
				height: @pageHeight;
				line-height: @pageHeight;
				color: @COLOR_CONTENT;
				text-decoration: none;
				padding: 0 5px;
			}
			
			.page {
				text-shadow: 0 1px white;
				border: solid 1px @darkenBorderColor;
				.vLinearGradient(lighten(@COLOR_BOX_BACKGROUND, 8%), darken(@COLOR_BOX_BACKGROUND, 7%));				
				.borderRadius(3px);
				
				&.active, &:hover {
					text-shadow: 0 1px black;
					border-color: darken(@darkenBorderColor, 30%);
					background: darken(@darkenBorderColor, 30%);
					color: white;
				}
			}
		}
	}
}

.tags-list {
	list-style: none;
	padding-top: 20px;
	font-size: @BASE_FONT_SIZE - 3;
	font-family: @HEADER_FONT_NAME;
	
	li {
		float: left;
		background: url(../i/design/bg/common/tags-list/item/bg.png) center left no-repeat;
		padding-left: 20px;
		margin-right: 10px;
	}
}

#wrapper {
	min-height: 100%;	
}

#main {
	overflow:auto;
	padding-bottom: @FOOTER_HEIGHT + 1;
	.centeredBlock(@LAYOUT_WIDTH);
}

header.main {
	padding-top: 60px;
	margin-bottom: 30px;
	
	nav.main {
		@height: 55px;
		@borderTop: 2px;
		@itemWidth: 130px;
		@itemPaddings: 0 15px;
	
		height: @height;
		background: @COLOR_MENU url(../i/design/bg/header/nav/main/bg.png) repeat-x top left;
		.borderRadius(@BOX_CORNERS_RADIUS @BOX_CORNERS_RADIUS 0 0);
		
		ul.menu {
			height: @height;			
			list-style: none;
			float: left;
			
			li, a {
				float: left;
			}
			
			li {
				font-size: @BASE_FONT_SIZE + 2;
				padding-top: @borderTop;
				
				&:first-child {
					.borderRadius(@BOX_CORNERS_RADIUS 0 0 0);
				}
				
				&:hover {
					background: url(../i/design/bg/header/nav/main/active_item.png) no-repeat top left;
					
					a {	
						span {						
							border-right-color: fadeout(@COLOR_MENU_HOVER, 40%);
						}
					}
				}	

				a {				
					text-decoration: none;
					color: white;						
					font-weight: bold;
					text-shadow: 1px 1px black;
					border-right: 1px solid darken(@COLOR_MENU, 5%);

					span {
						display: block;
						padding: @itemPaddings;
						width: @itemWidth;
						height: @height - @borderTop;
						line-height: @height - @borderTop*3;
						text-align: center;
						border-right: 1px solid lighten(@COLOR_MENU, 10%);
					}
				}
			}	
		}
		
		#user-menu {				
			list-style: none;
			float: right;			
			
			li {
				position: relative;
				text-decoration: none;
				color: white;
				text-shadow: 1px 1px black;
				min-width: @itemWidth;
				height: @height;			
				padding: 0 50px 0 20px;
				line-height: @height - 10px;
				text-align: center;
				.borderRadius(0 @BOX_CORNERS_RADIUS 0 0);
				cursor: pointer; 
				
				figure {
					display: inline-block;
				
					img {
						margin-right: 10px;
					}
					
					.name {						
						&:after {
							content: "";
							position: absolute;
							top: 50%;
							margin-top: -7px;
							right: 30px;
							.triangleDown(@COLOR_BOX_BACKGROUND, 5px,  1px);
						}
					}
				}
				
				ul {
					position: absolute;
					list-style: none;					
					left: 0;
					top: 100%;
					font-size: @BASE_FONT_SIZE - 2;
					display: none;
					width: @itemWidth + 70;
					.topShadowedBackground(@COLOR_MENU, 5%, 5%);
					.borderRadius(0 0 @BOX_CORNERS_RADIUS @BOX_CORNERS_RADIUS);
					
					li {
						@height: @BASE_FONT_SIZE * 3;
						
						height: @height;
						line-height: @height;
						text-align: left;	
						text-shadow: none;
						width: auto;
						border-bottom: 1px solid darken(@COLOR_BOX_BORDER, 65%);
						padding: 0;
						
						&:last-child {
							.borderRadius(0 0 @BOX_CORNERS_RADIUS @BOX_CORNERS_RADIUS);
						}
						
						a {
							display: block;
							text-decoration: none;
							color: lighten(@COLOR_CONTENT, 20%);
							padding: 0 20px;
							
							&:hover {
								color: white;
							}
						}
					}
				}
				
				&:hover {
					background-color: fadeout(#fff, 95%);
					
					ul {
						display: block;
					}
				}
			}			
		}
	}

	nav.sub {
		padding: 10px 20px;
		border: 1px solid @COLOR_BOX_BORDER;
		border-top: none;		
		.topShadowedBackground(@COLOR_BOX_BACKGROUND, 5px, 20%);
		.borderRadius(0 0 @BOX_CORNERS_RADIUS @BOX_CORNERS_RADIUS);
		
		ul.menu {
			list-style: none;
			float: left;
			text-transform: uppercase;
			font-size: @BASE_FONT_SIZE - 2;
			font-weight: bold;
			text-shadow: 0 1px white;
			margin-top: 6px;
			font-family: @HEADER_FONT_NAME;	
			
			li, a {
				float: left;
			}
			
			li {
				border-right: 1px dotted @darkenBorderColor;
				padding: 3px 20px;				
				
				&:first-child {
					padding-left: 0;
				}
				
				&:last-child  {
					border-right: none;
					padding-right: 0;
				}
				
				a {						
					color: @COLOR_HEADER;
					text-decoration: none;
				}
				
				a:hover {
					color: @COLOR_MENU_HOVER;
				}
			}			
		}
		
		#search {
			float: right;			
			border: solid 1px @darkenBorderColor;
			.topSolidShadowedBackground(#fff, 10%, 7%);
			
			input {		
				width: 280px;
				border: none;
				margin: 0;
				padding: 7px 30px 7px 3px;
				color: @COLOR_MENU;
				background: url(../i/design/bg/header/nav/sub/search.png) no-repeat 96% center;				
			}
		}
	}
}

#page {
	padding-bottom: 30px;
	.centeredBlock(@PAGE_WIDTH);	
	
	#titlebar {
		border-bottom: 1px solid @COLOR_BOX_BORDER;
		padding-bottom: 10px;
		margin-bottom: 30px;
		
		.filters {
			float: right;
			font-size: @BASE_FONT_SIZE - 2;
		}
		
		.ico {
			vertical-align: top;
		}
	}
	
	#content {
		width: @CONTENT_WIDTH;
		float: left;
		
		.articles-list {
			article {
				@paddingsLeftRight: 20px;
				@paddingsTopBottom: 10px;
				
				background: @COLOR_BOX_BACKGROUND;
				border: 5px solid @COLOR_BOX_BORDER;
				margin-bottom: 20px;
				.borderRadius(@BOX_CORNERS_RADIUS);
			
				header {
					padding: 1px @paddingsLeftRight;
					border-bottom: 1px solid @COLOR_BOX_BORDER;
				}
				
				.content {
					padding: @paddingsTopBottom @paddingsLeftRight;
					border-top: 1px solid white;
					border-bottom: 1px solid @COLOR_BOX_BORDER;
				}
				
				footer {
					padding: @paddingsTopBottom @paddingsLeftRight;
					border-top: 1px solid white;
					
					.more {
						float: right;
					}
					
					.actions {
						list-style: none;
						margin-top: @BASE_FONT_SIZE - 4;
						
						li {
							float: left;
							margin-right: 20px;
							
							a, span {
								display: inline-block;
							}
							
							.ico {
								vertical-align: bottom;
							}
						}
					}
				}
			}
		}		
	}
	
	#sidebar {
		width: @SIDEBAR_WIDTH;
		float: right;
		
		.widget {
			@paddings: 15px 20px 10px 30px;
			margin-bottom: 30px;
			
			header {
				padding: @paddings;	
				font-size: @BASE_FONT_SIZE + 4;
				font-family: @HEADER_FONT_NAME;
				color: @COLOR_HEADER;
				font-weight: bold;
				text-transform: uppercase;
				background: white url(../i/design/bg/sidebar/widget/header/bg.png) repeat left top;
				border-bottom: 1px solid @COLOR_BOX_BORDER;
				
				a {
					color: @COLOR_HEADER;
					text-decoration: none;
				}
				
				a:hover {
					color: @COLOR_MENU_HOVER;
				}
			}
			
			.actions {
				text-align: center;
				border-bottom: 1px solid @COLOR_BOX_BORDER;
			
				ul {
					@ulHeight: @BASE_FONT_SIZE + 16;
				
					list-style: none;
					display: inline-block;
					padding-top: 10px;
					font-size: @BASE_FONT_SIZE - 2;
					font-weight: bold;	
					height: @ulHeight - 3;
					
					li {
						float: left;
					
						a {
							display: inline-block;
							position: relative;
							height: @ulHeight - 1;
							text-decoration: none;
							color: @COLOR_CONTENT;
							
							span {
								display: inline-block;					
								padding: 0 10px;
								border-right: 1px dotted @darkenBorderColor;					
							}							
							
							&.active, &:hover {
								border-bottom: 3px solid @darkenBorderColor;
								color: @COLOR_MENU;
															
								&:after {
									@triangleHeight: 5px;
								
									content: "";
									position: absolute;
									bottom: -@triangleHeight - 3;
									left: 50%;
									margin-left: -@triangleHeight;
									.triangleDown(@darkenBorderColor, @triangleHeight, 1);
								}
							}
						}
						
						&:last-child {
							a {
								span {
									border-right: none;
								}
							}
						}
					}
				}
			}

			.listview {
				list-style: none;				
				
				li {
					padding: 7px 5px;
					border-bottom: 1px solid @COLOR_BOX_BORDER;
				}
				
				li:nth-child(even) {
					background: @COLOR_BOX_BACKGROUND;
				}
				
				&.key-value {
					li {
						padding-left: 20px;
					
						.key, .value {
							display: inline-block;
							vertical-align: middle;
						}
						
						.key {
							padding-right: 5px;
							width: @SIDEBAR_WIDTH - 105;		
							
							.name, .name a, a {
								display: inline-block;
								vertical-align: middle;
								text-decoration: none;
								color: @COLOR_HEADER;
								text-transform: uppercase;
								font-weight: bold;
								
								&:hover {
									color: @COLOR_MENU_HOVER;
								}
							}
							
							.ico.left {
								margin-right: 10px;
							}							
						}
						
						.value {
							text-align: right;
							width: @SIDEBAR_WIDTH - 230;
							font-family: @NOTES_FONT_NAME;
							font-style: italic;
							font-weight: bold;
						}
					}
				}
				
				&.rated {
					li {					
						.key {	
							@radius: @BASE_FONT_SIZE - 2;
							
							.pos {
								margin-right: 10px;
								display: inline-block;
								vertical-align: middle;
								text-align: center;
								line-height: @radius*2;
								font-weight: bold;
								font-size: @BASE_FONT_SIZE;
								color: white;
								.circle(darken(@COLOR_BOX_BACKGROUND, 35%), @radius);
								.insetBoxShadow(darken(@COLOR_BOX_BACKGROUND, 50%), 1px, 1px, 1px);
							}	

							.name {
								width: @SIDEBAR_WIDTH - @radius*2 - 115;
							}
						}
					}
				}				
			}
		}
		
		#coders-widget {
			.listview {
				figure {
					padding-right: 5px;
					width: @SIDEBAR_WIDTH - 45;
				}
			}
		}
		
		#tags-widget {
			.listview {
				.value {
					color: #cba038;
				}
			}
		}
		
		#top-ratings-widget {
			.listview {				
				li {
					.value {
						text-align: center;
						
						.info {
							margin-bottom: 5px;
							font-style: normal;
							font-size: @BASE_FONT_SIZE - 2;
							font-family: @BASE_FONT_NAME;
							color: lighten(@COLOR_CONTENT, 30%);
							
							.forks {
								color: @COLOR_ADDITIONAL_INFO;
							}
						}
					}
				}
			}
		}
	}
}

footer.main {	
	position: relative;	
	height: @FOOTER_HEIGHT;
	border-top: 1px solid @COLOR_BOX_BORDER;
	padding-top: 20px;
	clear: both;	
	.centeredBlock(@LAYOUT_WIDTH);	
	margin-top: -@FOOTER_HEIGHT - 21;
	
	nav.bottom {
		font-size: @BASE_FONT_SIZE - 2;
		float: left;
		width: @CONTENT_WIDTH;
		
		ul {
			@margin: 20px;
		
			list-style: none;
			float: left;
			width: (@CONTENT_WIDTH - @margin*3) / 3;
			margin-right: @margin;			
			
			li.header {
				color: @COLOR_MENU;				
				font-weight: bold;
				margin-bottom: 10px;				
			}
			
			li {
				margin-bottom: 5px;
			
				a {
					color: @COLOR_CONTENT;
				}
				
				a:hover {
					color: @COLOR_MENU;
				}
			}
		}
	}
	
	#follow {
		font-size: @BASE_FONT_SIZE - 3;
		float: right;
		width: @SIDEBAR_WIDTH;		
		
		ul {			
			float: right;
			list-style: none;
			
			li {
				float: left;
				padding: 0 15px;
				border-right: 1px dotted @darkenBorderColor;
				
				&:last-child {
					border-right: none;
				}
				
				a {
					text-decoration: none;
					color: @COLOR_CONTENT;
				}
				
				a:hover {
					color: @COLOR_MENU;
				}
				
				.ico {
					vertical-align: top;
				}
			}
		}
	}
}

body:before {
    content: "";
    height:100%;
    float: left;
    width: 0;
    margin-top: -32767px;
} 