@import "const";
@import "functions";

body {
	font: @BASE_FONT;
	line-height: 1.2em;
}

#wrapper {
	min-height: 100%;	
}

#main {
	overflow:auto;
	padding-bottom: @FOOTER_HEIGHT;
	.centeredBlock(@LAYOUT_WIDTH);
}

header.main {
	padding-top: 60px;
	
	nav.main {
		@height: 55px;
		@borderTop: 2px;
		@radius: 5px;
	
		height: @height;
		background: url(../i/design/bg/header/nav/main/bg.png) repeat-x top left;
		.borderRadius(@radius, @radius, 0, 0);
		
		ul {
			height: @height;			
			list-style: none;
			
			li {
				float: left;
				font-size: 16px;
				padding-top: @borderTop;

				a {				
					display: block;
					
					text-decoration: none;
					color: white;						
					font-weight: bold;
					border-right: 1px solid  #2d2d2d;

					span {
						display: block;
						padding: 0 15px;
						width: 130px;
						height: @height - @borderTop;
						line-height: @height - @borderTop*3;
						text-align: center;
						border-right: 1px solid  rgba(255,255,255,0.1);
					}
				}
			}
			
			li:hover {
				background: url(../i/design/bg/header/nav/main/active_item.png) no-repeat top left;
				
				a {					
					span {
						border-right-color: #a34641;
					}
				}
			}
			
			li.first:hover {
				.borderRadius(@radius, 0, 0, 0);
			}
		}
	}	
}

#page {
	.centeredBlock(@PAGE_WIDTH);
	
	#content {
		width: @CONTENT_WIDTH;
		float: left;
	}
	
	#sidebar {
		width: @SIDEBAR_WIDTH;
		float: right;
	}
}

footer.main {
	position: relative;
	margin-top: -@FOOTER_HEIGHT;
	height: @FOOTER_HEIGHT;
	clear: both;
	.centeredBlock(@LAYOUT_WIDTH);
} 