@import "const";
@import "functions";

@darkenBorderColor: darken(@COLOR_BOX_BORDER, 25%);

.clear {
	clear: both;
}

body {
	font: @BASE_FONT_SIZE @BASE_FONT_NAME;
	line-height: 1.2em;
	color: @COLOR_CONTENT;
}

a {
	color: @COLOR_LINK;
}

a img {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @HEADER_FONT_NAME;
	color: @COLOR_HEADER;
	font-weight: bold;
}

h1, h2, h3{
	text-transform: uppercase;
}

h1 {
	font-size: @BASE_FONT_SIZE + 4;
}

h2 {
	font-size: @BASE_FONT_SIZE + 2;
}

h3 {
	font-size: @BASE_FONT_SIZE;
}

h4 {
	font-size: @BASE_FONT_SIZE - 2;
}

h5 {
	font-size: @BASE_FONT_SIZE - 3;
}

h6 {
	font-size: @BASE_FONT_SIZE - 4;
}

img.ico {
	vertical-align: middle;
}

img.ico.left{
	margin-right: 5px;
}

img.ico.right{
	margin-left: 5px;
}

#wrapper {
	min-height: 100%;	
}

#main {
	overflow:auto;
	padding-bottom: @FOOTER_HEIGHT + 1;
	.centeredBlock(@LAYOUT_WIDTH);
}

header.main {
	padding-top: 60px;
	margin-bottom: 30px;
	
	nav.main {
		@height: 55px;
		@borderTop: 2px;
	
		height: @height;
		background: @COLOR_MENU url(../i/design/bg/header/nav/main/bg.png) repeat-x top left;
		.borderRadius(@BOX_CORNERS_RADIUS, @BOX_CORNERS_RADIUS, 0, 0);
		
		ul.menu {
			height: @height;			
			list-style: none;
			
			li, a {
				float: left;
			}
			
			li {
				font-size: @BASE_FONT_SIZE + 2;
				padding-top: @borderTop;

				a {				
					text-decoration: none;
					color: white;						
					font-weight: bold;
					border-right: 1px solid darken(@COLOR_MENU, 5%);

					span {
						display: block;
						padding: 0 15px;
						width: 130px;
						height: @height - @borderTop;
						line-height: @height - @borderTop*3;
						text-align: center;
						border-right: 1px solid lighten(@COLOR_MENU, 10%);
					}
				}
			}
			
			li:hover {
				background: url(../i/design/bg/header/nav/main/active_item.png) no-repeat top left;
				
				a {	
					span {						
						border-right-color: fadeout(@COLOR_MENU_HOVER, 40%);
					}
				}
			}
			
			li.first:hover {
				.borderRadius(@BOX_CORNERS_RADIUS, 0, 0, 0);
			}
		}
	}

	nav.sub {
		padding: 10px 20px;
		border: 1px solid @COLOR_BOX_BORDER;
		border-top: none;		
		.topShadowedBackground(@COLOR_BOX_BACKGROUND, 5px, 20%);
		.borderRadius(0, 0, @BOX_CORNERS_RADIUS, @BOX_CORNERS_RADIUS);
		
		ul.menu {
			list-style: none;
			float: left;
			text-transform: uppercase;
			font-size: @BASE_FONT_SIZE - 2;
			font-weight: bold;
			margin-top: 6px;
			font-family: @HEADER_FONT_NAME;	
			
			li, a {
				float: left;
			}
			
			li {
				border-right: 1px dotted @darkenBorderColor;
				padding: 3px 20px;
				
				a {						
					color: @COLOR_HEADER;
					text-decoration: none;
				}
				
				a:hover {
					color: @COLOR_MENU_HOVER;
				}
			}
			
			li.first {
				padding-left: 0;
			}
			
			li.last {
				border-right: none;
				padding-right: 0;
			}
		}
		
		#search {
			float: right;			
			border: solid 1px @darkenBorderColor;
			.topSolidShadowedBackground(#fff, 10%, 7%);
			
			input {		
				width: 280px;
				border: none;
				margin: 0;
				padding: 7px 30px 7px 3px;
				color: @COLOR_MENU;
				background: url(../i/design/bg/header/nav/sub/search.png) no-repeat 96% center;				
			}
		}
	}
}

#page {
	.centeredBlock(@PAGE_WIDTH);
	
	#titlebar {
		border-bottom: 1px solid @COLOR_BOX_BORDER;
		padding-bottom: 10px;
		margin-bottom: 30px;
		
		.filters {
			float: right;
			font-size: @BASE_FONT_SIZE - 2;
		}
		
		.ico {
			vertical-align: top;
		}
	}
	
	#content {
		width: @CONTENT_WIDTH;
		float: left;
	}
	
	#sidebar {
		width: @SIDEBAR_WIDTH;
		float: right;
		
		.widget {
			@paddings: 15px 20px 10px 30px;
			
			header {
				padding: @paddings;	
				font-size: @BASE_FONT_SIZE + 4;
				font-family: @HEADER_FONT_NAME;
				color: @COLOR_HEADER;
				font-weight: bold;
				text-transform: uppercase;
				background: white url(../i/design/bg/sidebar/widget/header/bg.png) repeat left top;
				border-bottom: 1px solid @COLOR_BOX_BORDER;
			}

			.listview {
				list-style: none;
				
				li {
					padding: 5px;
					border-bottom: 1px solid @COLOR_BOX_BORDER;
				}
				
				li:nth-child(even) {
					background: @COLOR_BOX_BACKGROUND;
				}
			}
		}
	}
}

footer.main {	
	position: relative;	
	height: @FOOTER_HEIGHT;
	border-top: 1px solid @COLOR_BOX_BORDER;
	padding-top: 20px;
	clear: both;	
	.centeredBlock(@LAYOUT_WIDTH);	
	margin-top: -@FOOTER_HEIGHT - 21;
	
	nav.bottom {
		font-size: @BASE_FONT_SIZE - 2;
		float: left;
		width: @CONTENT_WIDTH;
		
		ul {
			@margin: 20px;
		
			list-style: none;
			float: left;
			width: (@CONTENT_WIDTH - @margin*3) / 3;
			margin-right: @margin;			
			
			li.header {
				color: @COLOR_MENU;				
				font-weight: bold;
				margin-bottom: 10px;				
			}
			
			li {
				margin-bottom: 5px;
			
				a {
					color: @COLOR_CONTENT;
				}
				
				a:hover {
					color: @COLOR_MENU;
				}
			}
		}
	}
	
	#follow {
		font-size: @BASE_FONT_SIZE - 3;
		float: right;
		width: @SIDEBAR_WIDTH;		
		
		ul {			
			float: right;
			list-style: none;
			
			li {
				float: left;
				padding: 0 15px;
				border-right: 1px dotted @darkenBorderColor;
				
				a {
					text-decoration: none;
					color: @COLOR_CONTENT;
				}
				
				a:hover {
					color: @COLOR_MENU;
				}
				
				.ico {
					vertical-align: top;
				}
			}
			
			li.last {
				border-right: none;
			}
		}
	}
}

body:before {
    content: "";
    height:100%;
    float: left;
    width: 0;
    margin-top: -32767px;
} 